p{
  font-size:100%;
  color:#D0CCCC;
  text-shadow:1px 1px 1px #000000;

 }

h3{
  font-size:130%;
  border:solid 0px #FFFFFF;
  text-align:center;
  font-style: oblique;
  color:#ffffff;
  text-shadow:2px 2px 2px #000000;
  clear: both;
  padding-top:40px;
  }

li{
  font-size:100%;
  font-style: italic;
  color:#D0CCCC;
  text-shadow:1px 1px 1px #000000;
  }


a{
 color:white;
 }

body{

    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;

    }

.block{
  text-align: center;
      }
ul{
  list-style: none;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }

.experience li{
  clear:both;
              }

.experience li span{
    border:0px solid blue;
    float: left;
                   }

.experience li span:first-child {
    color:white;
    width:200px;
    display:block;
                                }
.experience li span:nth-child(2) {
    color:green;
    width:200px;
    display:block;
                                  }
.experience li span:nth-child(3) {
    color:white;
    width:250px;
    display:block;
                                 }

img{
   height:350px;
   width:440px;
   }

.nomimg{
  
}
